.appSidebar {
   
} 
.appLogo{
  height: 60px;
  width: 60px;
  margin: 0 auto;
  display:  block;
  margin-top: 2px;
  margin-bottom: 2px;
}
.content{
  margin: 24px 16px;
  padding: 24;
  min-height: 600px;
}
.trigger{
  padding: 0 16px;
  font-size: 29px;
  display: inline-block;
  margin-top: 22px;
  cursor: pointer;
}
.container {
  margin-left: 30px
}
.sectionTitle{
  font-size: 15px;
  margin-top: 14px;
  text-transform: uppercase;
}
.sectionTitle h4{
  margin-left: 9px;
}