.page {
  background-color: #aab2b9;
  min-height: 100vh;
}
.container {
  background: white;
  width: 341px;
  height: 450px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 11px 20px grey; 
}
.logo {
  margin-bottom: 50px;
}
.form {
  width: 240px;
  margin: 0 auto;
}
.input {
  border: none;
  border-radius: 0;
  outline: none;
}