.iconCoin {
  width: 17px;
  height: 17px;
}
.iconBill {
  width: 17px;
  height: 19px;
}
.iconBill, .iconCoin {
  margin-right: 6px;
}
.tabledata {
  text-align: right;
}
.profiletable {
  width: 100%;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 16px;
}
.profileInfo {
  text-align: center;
}
.profileInfo h5 {
  line-height: 25px;
  font-size: 20px;
}
.item {
  border-right: 1px solid black;
}
.item:last-child {
  border-right: none;
}
.item span {
  margin-left: 5px;
}
.basicInfo {
  margin-bottom: 10px;
}
.customerNote {
  border-left: 3px solid #f60;
  padding: 0 5px;
}
.customerNote span{
  font-family: iCielPanton-LightItalic;
  font-style: italic;
}
.profiletable th {
  border: none;
}
.profiletable td {
  font-size: 13px;
  padding: 10px 0 4px 0;
  border-top: 1px solid #e8e8e8;
}
textarea {
  resize: none;
}
.btnEdit {
  float: right;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-top: 10px; 
  cursor: pointer;
}